@model DisplayMonkey.Models.Memo

@{
    ViewBag.Title = "Memo frame details";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_Details")

<p>
    @Html.ActionLink("Edit", "Edit", "Frame", new { id=Model.FrameId }, null) |
    @Html.ActionLink("View frames", "Index", "Frame")
</p>

@Html.Partial("_frameLocations", Model.Frame)
