@using DisplayMonkey
@using DisplayMonkey.Models
@using DisplayMonkey.Language

@model DisplayMonkey.Models.Clock

<fieldset>
    <legend>@Resources.Clock</legend>

    <div class="divTable">
    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Frame.Panel.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Frame.Panel.Name)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Model.Type.Translate()
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShowDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShowDate)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShowTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShowTime)
    </div>
    </div>
    </div>
</fieldset>

