
@using DisplayMonkey.Language

@model DisplayMonkey.Models.Clock

@{
    SelectList types = ViewBag.Types as SelectList;
}

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field select">
            @Html.DropDownListFor(model => model.Type, types)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label" data-option="text">
            @Html.LabelFor(model => model.ShowDate)
        </div>
        <div class="editor-field" data-option="text">
            @Html.EditorFor(model => model.ShowDate)
            @Html.ValidationMessageFor(model => model.ShowDate)
        </div>

        <div class="editor-label" data-option="text">
            @Html.LabelFor(model => model.ShowTime)
        </div>
        <div class="editor-field" data-option="text">
            @Html.EditorFor(model => model.ShowTime)
            @Html.ValidationMessageFor(model => model.ShowTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Label)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Label)
            @Html.ValidationMessageFor(model => model.Label)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OffsetGMT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OffsetGMT)
            @Html.ValidationMessageFor(model => model.OffsetGMT)
        </div>
