@using DisplayMonkey.Language

@model DisplayMonkey.Models.Clock

@{
    ViewBag.Title = Resources.CreateNewClockFrame;
    SelectList types = ViewBag.Types as SelectList;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resources.Clock</legend>

        @Html.Partial("_frameData", Model.Frame)
        @Html.Partial("_Edit")
        
        <p>
            <input type="submit" value="@Resources.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.ViewFrames, "Index", "Frame")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function setUi() {
            var v = $('#Type').val();
            $('div[data-option=text]').each(function (i,e) {
                $(e).css('display', !!(v === '@((int)DisplayMonkey.Models.ClockTypes.ClockType_Text)') ? '' : 'none');
            });
        }
        $(document).ready(function () {
            $('#Type').change(function () { setUi(); });
            setUi();
        });
    </script>
}
