@model DisplayMonkey.Models.Level

@{
    ViewBag.Title = Resources.CreateOrganizationLevel;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Referrer()

    <fieldset>
        <legend>@Resources.Level</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="@Resources.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.ViewLevels, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
