@model DisplayMonkey.Models.Level

@{
    ViewBag.Title = Resources.OrganizationLevelDetails;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_Details")

<p>
    @Html.ActionLink(Resources.Edit, "Edit", new { id=Model.LevelId }) |
    @Html.ActionLink(Resources.ViewLevels, "Index")
</p>

<h2>@Resources.AssociatedLocations</h2>

<table class="grid">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Locations.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locations.FirstOrDefault().Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locations.FirstOrDefault().TemperatureUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locations.FirstOrDefault().Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locations.FirstOrDefault().Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locations.FirstOrDefault().DateFormat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locations.FirstOrDefault().TimeFormat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Locations) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", "Location", new { id=item.LocationId }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TemperatureUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFormat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeFormat)
        </td>
        <td>
            @Html.ActionLink(Resources.Edit, "Edit", "Location", new { id=item.LocationId }, null) |
            @Html.ActionLink(Resources.Delete, "Delete", "Location", new { id=item.LocationId }, null)
        </td>
    </tr>
}

</table>
