@using DisplayMonkey.Language

@model DisplayMonkey.Models.Video

<fieldset>
    <legend>@Resources.Video</legend>

    <table class="divTable"><tr>
        <td>
    <div class="divTable">
    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Frame.Panel.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Frame.Panel.Name)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Frame.Duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Frame.Duration) @Resources.Sec
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlayMuted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlayMuted)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.AutoLoop)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AutoLoop)
    </div>
    </div>
    </div>

        </td>

        <td>
            <div id="picture">
                <video style="width:100%;height:100%" poster="~/images/video.gif" loop autoplay controls>
                    <source src="@Url.Action("Playback", "Media", new { id = Model.Contents.FirstOrDefault().ContentId })" />
                    @Resources.YourBrowserDoesntSupportThisMediaTypePleaseUpgradeYourBrowser
                </video>
            </div>
        </td>

    </tr></table>
</fieldset>

