@model DisplayMonkey.Models.Video

@{
    DisplayMonkey.Models.Content alt1 = Model.Contents.FirstOrDefault();
}

    <table class="divTable"><tr>
        <td>
            
            @Html.Partial("_frameDetails", Model as Frame)
            @Html.Partial("_frameCacheDetails", Model as Frame)

            <fieldset>
                <legend>@Resources.Video</legend>

                <div class="divTable">

                <div class="divRow">
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.PlayMuted)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PlayMuted)
                </div>
                </div>

                <div class="divRow">
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.AutoLoop)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.AutoLoop)
                </div>
                </div>
                
                </div>

            </fieldset>
        
        </td>

        <td>
            <div id="picture">
                @if (alt1 != null && alt1.ContentId != 0)
                {
                    <video style="width:100%;height:100%" poster="~/images/video.gif" loop autoplay controls>
                        <source src="@Url.Action("Playback", "Media", new { id = alt1.ContentId })" />
                        @Resources.YourBrowserDoesntSupportThisMediaTypePleaseUpgradeYourBrowser
                    </video>
                }
            </div>
        </td>

    </tr></table>

