@model DisplayMonkey.Models.Video

@{
    string supportedVideos = string.Join(", ", DisplayMonkey.Models.Video.SupportedFormats);
}

    @Html.Hidden("maxVideoSize", (object)ViewBag.MaxVideoSize)
    @Html.Hidden("videoExt", (object)supportedVideos)

    <fieldset>
        <legend>@Resources.Upload</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contents.FirstOrDefault().Data)
        </div>
        <div class="editor-field">
            <input type="file" name="files" id="files" multiple="" />
            @Html.ValidationMessageFor(model => Model.Contents)
            <p>@string.Format(Resources.SupportedImageFormatsIncludeAllOtherContentWillBeIgnored, supportedVideos)</p>
            <p>@Resources.NoteForVarietyOfBrowsersVideoFramesCanBeLinkedToMultipleAlternativeMediaStreamsToSelectMultipleFilesPushAndHoldShiftOrCtrl</p>
        </div>

    </fieldset>
