@model DisplayMonkey.Models.Video

@{
    ViewBag.Title = "Create new video frame";
    SelectList videos = ViewBag.Videos as SelectList;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Video</legend>

        @Html.Partial("_frameData", Model.Frame)
        @Html.Partial("_Edit", Model)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.SavedContentId)
        </div>
        <div class="editor-field select">
            @Html.DropDownListFor(model => model.SavedContentId, videos, "- Upload new video(s) -")
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Frames list", "Index", "Frame")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
