@model DisplayMonkey.Models.Video

@{
    ViewBag.Title = "Unlink video frame media";
    DisplayMonkey.Models.Content content = ViewBag.Content as DisplayMonkey.Models.Content;
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to unlink this media alternative?</h3>
<fieldset>
    <legend>Video</legend>

    @Html.HiddenFor(m => m.FrameId)
    @Html.HiddenFor(m => content.ContentId)
    
    <div class="display-label">
         @Html.LabelFor(model => content.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => content.Name)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Unlink" /> |
        @Html.ActionLink("Back to video details", "Details", new { id = Model.FrameId })
    </p>
}
