@model IEnumerable<DisplayMonkey.Models.Panel>

@{
    ViewBag.Title = "Panels";
    const string sep = "| ";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Panel", FormMethod.Get))
{    
    <fieldset><legend>Search</legend><table>
        <tr><td>Canvas:</td><td><div class="select">@Html.DropDownList("CanvasId", "- Any -")</div></td></tr>
        <tr><td>Name:</td><td>@Html.TextBox("name")</td></tr>
    <tr><td colspan="2"><input type="submit" value="Filter" /></td></tr></table></fieldset> 
}

<p>
    @Html.ActionLink("Create new panel", "Create")
</p>
<table class="grid">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Canvas.FullScreen.Panel)
        </th>
        <th style="white-space:nowrap">
            @Html.DisplayNameFor(model => model.Canvas)
        </th>
        <th style="white-space:nowrap">
            Options
        </th>
        <th style="white-space:nowrap"></th>
    </tr>

@foreach (var item in Model)
{
    DisplayMonkey.Models.FullScreen fs = item.Canvas.FullScreen;
    
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", "Panel", new { id=item.PanelId }, null)
        </td>
        <td style="white-space:nowrap">
            @Html.DisplayFor(modelItem => item.Canvas.Name)
        </td>
        <td style="white-space:nowrap">
            @if (fs.PanelId == item.PanelId)
            {
                @Html.DisplayNameFor(m => m.Canvas.FullScreen.MaxIdleInterval)
                if (fs.MaxIdleInterval == null) 
                {
                    @(": not set")
                }
                else
                {
                    @(string.Format(": {0} sec.", fs.MaxIdleInterval))
                }
            }
            else
            {
                @(string.Format("Position: {0}, {1}, Size: {2} x {3}", 
                    item.Top, 
                    item.Left, 
                    item.Width,
                    item.Height))
            }
        </td>
        <td style="white-space:nowrap">
            @if (fs.PanelId != item.PanelId)
            {
                @Html.ActionLink("Edit", "Edit", "Panel", new { id=item.PanelId }, null)
            }
            else
            {
                @Html.ActionLink("Edit", "EditFS", "Panel", new { id=item.PanelId }, null)
            }
            @if (fs.PanelId != item.PanelId)
            {
                @sep @Html.ActionLink("Delete", "Delete", "Panel", new { id=item.PanelId }, null)
            }
        </td>
    </tr>
}

</table>
