@using DisplayMonkey
@using DisplayMonkey.Models
@using DisplayMonkey.Language

@model IEnumerable<DisplayMonkey.Models.Frame>

@{
    ViewBag.Title = Resources.ReOrderPanelFrames;
    string frameContent = "";
    int i = 0;
}

@functions {
    string Short(string txt)
    {
        txt = txt ?? "";
        return (txt.Length > 17) ? txt.Substring(0,17) + "..." : txt;
    }
}

<h2>@ViewBag.Title</h2>

<ul id="film">

@foreach (var item in Model)
{
    <li data-frame-id="@item.FrameId" data-old-sort="@((i++).ToString())">
        @{frameContent = item.FrameType + ": ";}

        @if (item is Clock)
        {
            Clock f = item as Clock;
            <div class="d1">
                <div><img src="~/images/clock.png" alt="" /></div>
                <div>@item.FrameType</div>
            </div>
            <div>
                @f.Type.Translate()
            </div>
        }
        else if (item is Html)
        {
            Html f = item as Html;
            <div class="d1">
                <div><img src="~/images/html.png" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @Short(f.Name)
            </div>
        }
        else if (item is Memo)
        {
            Memo f = item as Memo;
            <div class="d1">
                <div><img src="~/images/memo.png" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @Short(f.Subject)
            </div>
        }
        else if (item is News)
        {
            News f = item as News;
            <div class="d1">
                <div></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @f.Source
            </div>
        }
        else if (item is Outlook)
        {
            Outlook f = item as Outlook;
            <div class="d1">
                <div><img src="~/images/calendar.png" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @f.NameOrMailboxOrAccount
            </div>
        }
        else if (item is Picture)
        {
            Picture f = item as Picture;
            <div class="d1">
                <div><img src="@Url.Action("Thumb", "Media", new { id = f.ContentId, width = 50, height = 50, mode = (int)RenderModes.RenderMode_Stretch })" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @f.Content.Name
            </div>
        }
        else if (item is Powerbi)
        {
            Powerbi f = item as Powerbi;
            <div class="d1">
                <div><img src="~/images/powerbi.png" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @f.Name
            </div>
        }
        else if (item is Report)
        {
            Report f = item as Report;
            <div class="d1">
                <div><img src="@Url.Action("Thumb", "Report", new { id = item.FrameId, width = 50, height = 50, mode = (int)RenderModes.RenderMode_Stretch })" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @Short(f.Name)
            </div>
        }
        else if (item is Video)
        {
            Video f = item as Video;
            <div class="d1">
                <div><img src="~/images/video_thmb.png" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @Short(f.Contents.FirstOrDefault().Name)
            </div>
            //frameContent += item.Video.Contents.FirstOrDefault().Name;
        }
        else if (item is Weather)
        {
            Weather f = item as Weather;
            <div class="d1">
                <div><img src="~/images/weather.png" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @f.Type.Translate()
            </div>
        }
        else if (item is Youtube)
        {
            Youtube f = item as Youtube;
            <div class="d1">
                <div><img src="@Html.Raw(string.Format("http://i.ytimg.com/vi/{0}/0.jpg", f.YoutubeId))" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @Short(f.Name)
            </div>
        }
        else
        {
            <div class="d1">
                <div><img src="~/images/unknown.png" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div></div>
            //frameContent += Resources.UnsupportedFrame;
        }

    </li>
}

</ul>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => Model.FirstOrDefault().PanelId)
    @Html.Hidden("json")
    <p>
        <input id="submit" type="submit" value="@Resources.Save" /> |
        <a href="javascript:window.history.back();">@Resources.BackPreviousPage</a>
    </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jsquery")
    <script type="text/javascript">
        $(document).ready(function() {
            $('#film')
                .sortable()
                .disableSelection()
            ;

            $('#submit').click(function (event) {
                var json = [];
                $('#film li').each(function (i, e) {
                    json.push({
                        'newSort': i,
                        'oldSort': $(e).data('old-sort'),
                        'frameId': $(e).data('frame-id')
                    });
                });
                $('#json').val(JSON.stringify(json));
            });
        });
    </script>
}
