@using DisplayMonkey
@using DisplayMonkey.Models
@using DisplayMonkey.Language

@model IEnumerable<DisplayMonkey.Models.Frame>

@{
    ViewBag.Title = Resources.ReOrderPanelFrames;
    string frameContent = "";
    int i = 0;
}

<h2>@ViewBag.Title</h2>

<ul id="film">

@foreach (var item in Model)
{
    frameContent = item.FrameType + ": ";

    if (item.News != null)
    {
        frameContent += item.News.Source;
    }
    else if (item.Clock != null)
    {
        frameContent += item.Clock.Type.Translate();
    }
    else if (item.Weather != null)
    {
        frameContent += item.Weather.Type.Translate();
    }
    else if (item.Memo != null)
    {
        frameContent += item.Memo.Subject;
    }
    else if (item.Report != null)
    {
        frameContent += item.Report.Name;
    }
    else if (item.Picture != null)
    {
        frameContent += item.Picture.Content.Name;
    }
    else if (item.Video != null)
    {
        frameContent += item.Video.Contents.FirstOrDefault().Name;
    }
    else
    {
        frameContent += Resources.UnsupportedFrame;
    }

    if (item.ShowDuration)
    {
        frameContent += string.Format(", {0} {1}", item.Duration, Resources.Sec);
    }
    <li data-frame-id="@item.FrameId" data-old-sort="@((i++).ToString())"><div>@frameContent</div></li>
}

</ul>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => Model.FirstOrDefault().PanelId)
    @Html.Hidden("json")
    <p>
        <input id="submit" type="submit" value="@Resources.Save" /> |
        <a href="javascript:window.history.back();">@Resources.BackPreviousPage</a>
    </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jsquery")
    <script type="text/javascript">
        $(document).ready(function() {
            $('#film')
                .sortable()
                .disableSelection()
            ;

            $('#submit').click(function (event) {
                var json = [];
                $('#film li').each(function (i, e) {
                    json.push({
                        'newSort': i,
                        'oldSort': $(e).data('old-sort'),
                        'frameId': $(e).data('frame-id')
                    });
                });
                $('#json').val(JSON.stringify(json));
            });
        });
    </script>
}
