@using DisplayMonkey
@using DisplayMonkey.Models
@using DisplayMonkey.Language

@model IEnumerable<DisplayMonkey.Models.Frame>

@{
    ViewBag.Title = Resources.ReOrderPanelFrames;
    string frameContent = "";
    int i = 0;
}

@functions {
    string Short(string txt)
    {
        txt = txt ?? "";
        return (txt.Length > 17) ? txt.Substring(0,17) + "..." : txt;
    }
}

<h2>@ViewBag.Title</h2>

<ul id="film">

@foreach (var item in Model)
{
    <li data-frame-id="@item.FrameId" data-old-sort="@((i++).ToString())">
        @{frameContent = item.FrameType + ": ";}

        @if (item.Clock != null)
        {
            <div class="d1">
                <div><img src="~/images/clock.png" alt="" /></div>
                <div>@item.FrameType</div>
            </div>
            <div>
                @item.Clock.Type.Translate()
            </div>
        }
        else if (item.Html != null)
        {
            <div class="d1">
                <div><img src="~/images/html.png" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @Short(item.Html.Name)
            </div>
        }
        else if (item.Memo != null)
        {
            <div class="d1">
                <div><img src="~/images/memo.png" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @Short(item.Memo.Subject)
            </div>
        }
        else if (item.News != null)
        {
            <div class="d1">
                <div></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @item.News.Source
            </div>
        }
        else if (item.Picture != null)
        {
            <div class="d1">
                <div><img src="@Url.Action("Thumb", "Media", new { id = item.Picture.ContentId, width = 50, height = 50, mode = (int)RenderModes.RenderMode_Stretch })" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @item.Picture.Content.Name
            </div>
        }
        else if (item.Report != null)
        {
            <div class="d1">
                <div><img src="@Url.Action("Thumb", "Report", new { id = item.FrameId, width = 50, height = 50, mode = (int)RenderModes.RenderMode_Stretch })" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @Short(item.Report.Name)
            </div>
        }
        else if (item.Video != null)
        {
            <div class="d1">
                <div><img src="~/images/video_thmb.png" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @Short(item.Video.Contents.FirstOrDefault().Name)
            </div>
            //frameContent += item.Video.Contents.FirstOrDefault().Name;
        }
        else if (item.Weather != null)
        {
            <div class="d1">
                <div><img src="~/images/weather.png" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @item.Weather.Type.Translate()
            </div>
        }
        else if (item.Youtube != null)
        {
            <div class="d1">
                <div><img src="@Html.Raw(string.Format("http://i.ytimg.com/vi/{0}/0.jpg", item.Youtube.YoutubeId))" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div>
                @Short(item.Youtube.Name)
            </div>
        }
        else
        {
            <div class="d1">
                <div><img src="~/images/unknown.png" alt="" /></div>
                <div>@(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))</div>
            </div>
            <div></div>
            //frameContent += Resources.UnsupportedFrame;
        }

    </li>
}

</ul>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => Model.FirstOrDefault().PanelId)
    @Html.Hidden("json")
    <p>
        <input id="submit" type="submit" value="@Resources.Save" /> |
        <a href="javascript:window.history.back();">@Resources.BackPreviousPage</a>
    </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jsquery")
    <script type="text/javascript">
        $(document).ready(function() {
            $('#film')
                .sortable()
                .disableSelection()
            ;

            $('#submit').click(function (event) {
                var json = [];
                $('#film li').each(function (i, e) {
                    json.push({
                        'newSort': i,
                        'oldSort': $(e).data('old-sort'),
                        'frameId': $(e).data('frame-id')
                    });
                });
                $('#json').val(JSON.stringify(json));
            });
        });
    </script>
}
