@using DisplayMonkey
@using DisplayMonkey.Models
@using DisplayMonkey.Language

@model IEnumerable<DisplayMonkey.Models.Frame>

@{
    ViewBag.Title = Resources.ReOrderPanelFrames;
    string frameContent = "";
    int i = 0;
}

<h2>@ViewBag.Title</h2>

<ul id="film">

@foreach (var item in Model)
{
    <li data-frame-id="@item.FrameId" data-old-sort="@((i++).ToString())">
        @{frameContent = item.FrameType + ": ";}

        @if (item.Clock != null)
        {
            <div></div>
            <div>
                @(string.Format("{0}: {1}", item.FrameType, item.Clock.Type.Translate()))
            </div>
        }
        else if (item.Html != null)
        {
            <div></div>
            <div>
                @(string.Format("{0}: {1}, {2} {3}", item.FrameType, item.Html.Name, item.Duration, Resources.Sec))
            </div>
        }
        else if (item.Memo != null)
        {
            <div></div>
            <div>
                @(string.Format("{0}: {1}, {2} {3}", item.FrameType, item.Memo.Subject, item.Duration, Resources.Sec))
            </div>
        }
        else if (item.News != null)
        {
            <div></div>
            <div>
                @(string.Format("{0}: {1}, {2} {3}", item.FrameType, item.News.Source, item.Duration, Resources.Sec))
            </div>
        }
        else if (item.Picture != null)
        {
            <div>
                <img class="thumb2" src="@Url.Action("Thumb", "Media", new { id = item.Picture.ContentId, width = 50, height = 50, mode = RenderModes.RenderMode_Stretch })" alt="" />
            </div>
            <div>
                @(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))
            </div>
        }
        else if (item.Report != null)
        {
            <div>
                <img class="thumb2" src="@Url.Action("Thumb", "Report", new { id = item.FrameId, width = 50, height = 50, mode = RenderModes.RenderMode_Stretch })" alt="" />
            </div>
            <div>
                @(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))
            </div>
        }
        else if (item.Video != null)
        {
            <div>
                <img class="thumb2" src="~/images/video_thmb.png" alt="" />
            </div>
            <div>
                @(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))
            </div>
            //frameContent += item.Video.Contents.FirstOrDefault().Name;
        }
        else if (item.Weather != null)
        {
            <div></div>
            <div>
                @(string.Format("{0}: {1}", item.FrameType, item.Weather.Type.Translate()))
            </div>
        }
        else if (item.Youtube != null)
        {
            <div>
                <img class="thumb2" src="@Html.Raw(string.Format("http://i.ytimg.com/vi/{0}/0.jpg", item.Youtube.YoutubeId))" alt="" />
            </div>
            <div>
                @(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))
            </div>
        }
        else
        {
            <div></div>
            <div>
                @(string.Format("{0}, {1} {2}", item.FrameType, item.Duration, Resources.Sec))
            </div>
            //frameContent += Resources.UnsupportedFrame;
        }

    </li>
}

</ul>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => Model.FirstOrDefault().PanelId)
    @Html.Hidden("json")
    <p>
        <input id="submit" type="submit" value="@Resources.Save" /> |
        <a href="javascript:window.history.back();">@Resources.BackPreviousPage</a>
    </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jsquery")
    <script type="text/javascript">
        $(document).ready(function() {
            $('#film')
                .sortable()
                .disableSelection()
            ;

            $('#submit').click(function (event) {
                var json = [];
                $('#film li').each(function (i, e) {
                    json.push({
                        'newSort': i,
                        'oldSort': $(e).data('old-sort'),
                        'frameId': $(e).data('frame-id')
                    });
                });
                $('#json').val(JSON.stringify(json));
            });
        });
    </script>
}
