@model DisplayMonkey.Models.AzureAccount

@{
    ViewBag.Title = Resources.CreateNewAzureAccount;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Referrer()

    <fieldset>
        <legend>@Resources.AzureAccount</legend>

        @Html.Partial("_Edit")

        <p>
            <input type="submit" value="@Resources.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.AzureAccounts, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
