@model DisplayMonkey.Models.Outlook

<fieldset>
    <legend>@Resources.Outlook</legend>

    <div class="divTable">

    @Html.Partial("_frameDetails", Model as Frame)

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mailbox)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mailbox)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExchangeAccount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExchangeAccount.Name)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShowEvents)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShowEvents)
    </div>
    </div>

    <div class="divRow">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.AllowReserve)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AllowReserve)
        </div>
    </div>

        <div class="divRow">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.BookingSubject)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.BookingSubject)
            </div>
        </div>

    <div class="divRow">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Privacy)
        </div>
        <div class="display-field">
            @Model.Privacy.Translate()
        </div>
    </div>

    <div class="divRow">
        <div class="display-label">
            @Resources.OutlookShowAs
        </div>
        <div class="display-field">
            <ul class="options">
                <li>@Html.DisplayFor(model => model.ShowAsFree) @Html.DisplayNameFor(model => model.ShowAsFree)</li>
                <li>@Html.DisplayFor(model => model.ShowAsTentative) @Html.DisplayNameFor(model => model.ShowAsTentative)</li>
                <li>@Html.DisplayFor(model => model.ShowAsBusy) @Html.DisplayNameFor(model => model.ShowAsBusy)</li>
                <li>@Html.DisplayFor(model => model.ShowAsOof) @Html.DisplayNameFor(model => model.ShowAsOof)</li>
                <li>@Html.DisplayFor(model => model.ShowAsWew) @Html.DisplayNameFor(model => model.ShowAsWew)</li>
                <li>@Html.DisplayFor(model => model.ShowAsNoData) @Html.DisplayNameFor(model => model.ShowAsNoData)</li>
            </ul>
        </div>
    </div>

    </div>
</fieldset>

