@using DisplayMonkey.Language

@model DisplayMonkey.Models.Outlook

@{
    SelectList modes = ViewBag.Modes as SelectList;
    SelectList ewsVersions = ViewBag.EwsVersions as SelectList;
}

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Account)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Account)
            @Html.ValidationMessageFor(model => model.Account)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PasswordUnmasked)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PasswordUnmasked)
            @Html.ValidationMessageFor(model => model.PasswordUnmasked)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mailbox)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mailbox)
            @Html.ValidationMessageFor(model => model.Mailbox)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShowEvents)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShowEvents, new { htmlAttributes = new { @class = "duration" } })
            @Html.ValidationMessageFor(model => model.ShowEvents)
        </div>
