@model DisplayMonkey.Models.Outlook

@{
    SelectList modes = ViewBag.Modes as SelectList;
    SelectList accounts = ViewBag.Accounts as SelectList;
    SelectList privacies = ViewBag.Privacies as SelectList;
}

    <fieldset>
        <legend>@Resources.Outlook</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mailbox)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mailbox)
            @Html.ValidationMessageFor(model => model.Mailbox)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountId)
        </div>
        <div class="editor-field select">
            @Html.DropDownListFor(model => model.AccountId, accounts)
            @Html.ValidationMessageFor(model => model.AccountId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShowEvents)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShowEvents, new { htmlAttributes = new { @class = "duration" } })
            @Html.ValidationMessageFor(model => model.ShowEvents)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AllowReserve)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AllowReserve)
            @Html.ValidationMessageFor(model => model.AllowReserve)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BookingSubject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BookingSubject)
            @Html.ValidationMessageFor(model => model.BookingSubject)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Privacy)
        </div>
        <div class="editor-field select">
            @Html.DropDownListFor(model => model.Privacy, privacies)
            @Html.ValidationMessageFor(model => model.Privacy)
        </div>

        <div class="editor-label">
            @Html.Label(Resources.OutlookShowAs)
        </div>
        <div class="display-field">
            <ul class="options">
                <li>@Html.EditorFor(model => model.ShowAsFree) @Html.DisplayNameFor(model => model.ShowAsFree)</li>
                <li>@Html.EditorFor(model => model.ShowAsTentative) @Html.DisplayNameFor(model => model.ShowAsTentative)</li>
                <li>@Html.EditorFor(model => model.ShowAsBusy) @Html.DisplayNameFor(model => model.ShowAsBusy)</li>
                <li>@Html.EditorFor(model => model.ShowAsOof) @Html.DisplayNameFor(model => model.ShowAsOof)</li>
                <li>@Html.EditorFor(model => model.ShowAsWew) @Html.DisplayNameFor(model => model.ShowAsWew)</li>
                <li>@Html.EditorFor(model => model.ShowAsNoData) @Html.DisplayNameFor(model => model.ShowAsNoData)</li>
            </ul>
        </div>

    </fieldset>
