@model DisplayMonkey.Models.ReportServer

@{
    ViewBag.Title = Resources.EditReportServerAccount;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Referrer()

    <fieldset>
        <legend>@Resources.ReportServer</legend>

        @Html.HiddenFor(model => model.ServerId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BaseUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BaseUrl)
            @Html.ValidationMessageFor(model => model.BaseUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User)
            @Html.ValidationMessageFor(model => model.User)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Domain)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Domain)
            @Html.ValidationMessageFor(model => model.Domain)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PasswordUnmasked)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PasswordUnmasked)
            @Html.ValidationMessageFor(model => model.PasswordUnmasked)
        </div>

        <p>
            <input type="submit" value="@Resources.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.ReportServerAccounts, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
