@model DisplayMonkey.Models.Location

<fieldset>
    <legend>@Resources.Location</legend>

    <div class="divTable">
    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Level)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Level.Name)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Area)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Area.Name)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Culture)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CultureOrDefault)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.TemperatureUnit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TempUnitOrDefault)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Latitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LatitudeOrDefault)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Longitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LongitudeOrDefault)
    </div>
    </div>

    <div class="divRow">
        <div class="display-label">
            <a href="https://en.wikipedia.org/wiki/WOEID" target="_blank">@Html.DisplayNameFor(model => model.Woeid)</a>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.WoeidOrDefault)
        </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateFormat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateFmtOrDefault)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeFormat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeFmtOrDefault)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeZone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeZoneOrDefault)
    </div>
    </div>
    </div>
</fieldset>

