@model IEnumerable<DisplayMonkey.Models.Location>

@{
    ViewBag.Title = "Organization locations";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Location", FormMethod.Get))
{    
    <fieldset><legend>Search</legend><table>
        <tr><td>Level:</td><td><div class="select">@Html.DropDownList("LevelId", "- Any -")</div></td></tr>
        <tr><td>Area:</td><td><div class="select">@Html.DropDownList("AreaId", "- Any -")</div></td></tr>
        <tr><td>Name:</td><td>@Html.TextBox("name")</td></tr>
    <tr><td colspan="2"><input type="submit" value="Filter" /></td></tr></table></fieldset> 
}

<p>
    @Html.ActionLink("Create new location", "Create")
</p>
<table class="grid">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="nw">
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th class="nw">
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th class="nw">
            @Html.DisplayNameFor(model => model.TemperatureUnit)
        </th>
        <th class="nw">
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th class="nw">
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th class="nw">
            @Html.DisplayNameFor(model => model.DateFormat)
        </th>
        <th class="nw">
            @Html.DisplayNameFor(model => model.TimeFormat)
        </th>
        <th class="nw"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id=item.LocationId })
        </td>
        <td class="nw">
            @Html.DisplayFor(modelItem => item.Level.Name)
        </td>
        <td class="nw">
            @Html.DisplayFor(modelItem => item.Area.Name)
        </td>
        <td class="nw">
            @Html.DisplayFor(modelItem => item.TemperatureUnit)
        </td>
        <td class="nw">
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td class="nw">
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td class="nw">
            @Html.DisplayFor(modelItem => item.DateFormat)
        </td>
        <td class="nw">
            @Html.DisplayFor(modelItem => item.TimeFormat)
        </td>
        <td class="nw">
            @Html.ActionLink("Edit", "Edit", new { id=item.LocationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LocationId })
        </td>
    </tr>
}

</table>
