@using DisplayMonkey
@using DisplayMonkey.Models
@using DisplayMonkey.Language

@model DisplayMonkey.Models.Picture

<fieldset>
    <legend>@Resources.Picture</legend>

    <table class="divTable"><tr>
        <td>
    <div class="divTable">

    @Html.Partial("_frameDetails", Model.Frame)

    <div class="divRow">
    <div class="display-label">
         @Resources.Content
    </div>
    <div class="display-field">
        @Html.ActionLink(Model.Content.Name, "Details", "Media", new { id=Model.ContentId }, null)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mode)
    </div>
    <div class="display-field">
        @Model.Mode.Translate()
    </div>
    </div>
    </div>

        </td>

        <td>
            <div id="picture">
                 <img src="@Url.Action("Thumb", "Media", new { id = Model.ContentId, width = 200, height = 200, mode = RenderModes.RenderMode_Fit })" alt="" />
            </div>
        </td>

    </tr></table>
</fieldset>

