@using DisplayMonkey.Language

@model DisplayMonkey.Models.Display

@{
    ViewBag.Title = Resources.RemoveDisplay;
}

<h2>@ViewBag.Title</h2>

<h3>@Resources.AreYouSureYouWantToRemoveThisDisplay</h3>
<fieldset>
    <legend>@Resources.Display</legend>

    <div class="divTable">
    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Host)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Host)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Canvas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Canvas.Name)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location.Name)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShowErrors)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShowErrors)
    </div>
    </div>
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="@Resources.Remove" /> |
        @Html.ActionLink(Resources.ViewDisplays , "Index")
    </p>
}
