@model DisplayMonkey.Models.ExchangeAccount

@{
    SelectList ewsVersions = ViewBag.EwsVersions as SelectList;
}

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Account)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Account)
            @Html.ValidationMessageFor(model => model.Account)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PasswordUnmasked)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PasswordUnmasked)
            @Html.ValidationMessageFor(model => model.PasswordUnmasked)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EwsVersion)
        </div>
        <div class="editor-field select">
            @Html.DropDownListFor(model => model.EwsVersion, ewsVersions)
            @Html.ValidationMessageFor(model => model.EwsVersion)
        </div>
