@model DisplayMonkey.Models.ExchangeAccount

@{
    ViewBag.Title = Resources.EditExchangeAccount;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Referrer()

    <fieldset>
        <legend>@Resources.ExchangeAccount</legend>

        @Html.HiddenFor(model => model.AccountId)

        @Html.Partial("_Edit")

        <p>
            <input type="submit" value="@Resources.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.ExchangeAccounts, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
