@model DisplayMonkey.Models.Report

<fieldset>
    <legend>Report</legend>

    <table class="divTable"><tr>
        <td>
    <div class="divTable">
    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Frame.Panel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Frame.Panel.Name)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Frame.Duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Frame.Duration) sec.
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReportServer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReportServer.Name)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Path)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Path)
    </div>
    </div>

    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => DisplayMonkey.Models.Content.RenderModes.First(m => m.Mode == model.Mode).Name)
    </div>
    </div>
    </div>

        </td>

        <td>
            <div id="picture">
                 <img src="@Url.Action("Thumb", "Report", new { id = Model.FrameId, width = 200, height = 200, mode = DisplayMonkey.Models.Content.RenderMode_Fit })" alt="" />
            </div>
        </td>

    </tr></table>
</fieldset>

