@model DisplayMonkey.Models.Report

@{
    SelectList modes = ViewBag.Modes as SelectList;
    SelectList servers = ViewBag.Servers as SelectList;
}

    <fieldset>
        <legend>@Resources.Report</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServerId)
        </div>
        <div class="editor-field select">
            @Html.DropDownListFor(m => m.ServerId, servers)
            @Html.ValidationMessageFor(model => model.ServerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Path)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Path)
            @Html.ValidationMessageFor(model => model.Path)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mode)
        </div>
        <div class="editor-field select">
            @Html.DropDownListFor(model => model.Mode, modes)
            @Html.ValidationMessageFor(model => model.Mode)
        </div>

    </fieldset>
