@using DisplayMonkey.Language

@model DisplayMonkey.Models.sp_Get_Dashboard_Result

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Display Monkey Dashboard</h1>
            </hgroup>
        </div>
    </section>
}
    <table class="homeSummary">
      <tbody>
        <tr>
          <td class="style3">@Html.ActionLink(@Resources.Frames, "Index", "Frame")</td>
          <td class="style14">&nbsp;</td>
          <td class="style5">Top 5 Content</td>
          <td class="style16">&nbsp;</td>
          <td class="style7">Setup</td>
          <td class="style18">&nbsp;</td>
        </tr>
        <tr>
          <td class="style3">Number of Frames</td>
          <td class="style14">@Model.Number_of_Frames</td>
          <td class="style5">@Model.Top_Content_1</td>
          <td class="style16">@Model.Top_Content_1_Count</td>
          <td class="style7">@Html.ActionLink(@Resources.Levels, "Index", "Level")</td>
          <td class="style18">@Model.Levels</td>
        </tr>
        <tr>
          <td class="style1">Total Duration (Hours)</td>
          <td class="style15">@Model.Total_Duration_Hours</td>
          <td class="style13">@Model.Top_Content_2</td>
          <td class="style17">@Model.Top_Content_2_Count</td>
          <td class="style12">@Html.ActionLink(@Resources.Locations, "Index", "Location")</td>
          <td class="style19">@Model.Location</td>
        </tr>
        <tr>
          <td class="style3">Number of Active Frames</td>
          <td class="style14">@Model.Number_of_Active_Frames</td>
          <td class="style5">@Model.Top_Content_3</td>
          <td class="style16">@Model.Top_Content_3_Count</td>
          <td class="style7">@Html.ActionLink(@Resources.Canvases, "Index", "Canvas")</td>
          <td class="style18">@Model.Canvas</td>
        </tr>
        <tr>
          <td class="style1">&nbsp;</td>
          <td class="style15">&nbsp;</td>
          <td class="style13">@Model.Top_Content_4</td>
          <td class="style17">@Model.Top_Content_4_Count</td>
          <td class="style12">@Html.ActionLink(@Resources.Panels, "Index", "Canvas")</td>
          <td class="style19">@Model.Panel</td>
        </tr>
        <tr>
          <td class="style1">&nbsp;</td>
          <td class="style15">&nbsp;</td>
          <td class="style13">@Model.Top_Content_5</td>
          <td class="style17">@Model.Top_Content_5_Count</td>
          <td class="style12">@Html.ActionLink(@Resources.Displays, "Index", "Display")</td>
          <td class="style19">@Model.Display</td>
        </tr>
        <tr>
          <td class="style1">&nbsp;</td>
          <td class="style15">&nbsp;</td>
          <td class="style13">&nbsp;</td>
          <td class="style17">&nbsp;</td>
          <td class="style12">&nbsp;</td>
          <td class="style19">&nbsp;</td>
        </tr>
        <tr>
          <td class="style1">Frames by Type</td>
          <td class="style15" colspan="2">Added Last 7 Days</td>
          <td class="style13" colspan="2">Total</td>
          <td class="style19">&nbsp;</td>
        </tr>
        <tr>
          <td class="style3">@Html.ActionLink(Resources.Memo, "Index", "Frame", new { FrameType = "Memo" }, null)</td>
          <td class="style14" colspan="2">@Model.Number_of_Memos_7</td>
          <td class="style16" colspan="2">@Model.Number_of_Memos</td>
          <td class="style18">&nbsp;</td>
        </tr>
        <tr>
          <td class="style1">@Html.ActionLink(Resources.Picture, "Index", "Frame", new { FrameType = "Picture" }, null)</td>
          <td class="style15" colspan="2">@Model.Number_of_Pictures_7</td>
          <td class="style17" colspan="2">@Model.Number_of_Pictures</td>
          <td class="style19">&nbsp;</td>
        </tr>
        <tr>
          <td class="style1">@Html.ActionLink(Resources.Video, "Index", "Frame", new { FrameType = "Video" }, null)</td>
          <td class="style15" colspan="2">@Model.Number_of_Videos_7</td>
          <td class="style17" colspan="2">@Model.Number_of_Videos</td>
          <td class="style19">&nbsp;</td>
        </tr>
        <tr>
          <td class="style1">@Html.ActionLink(Resources.Report, "Index", "Frame", new { FrameType = "Report" }, null)</td>
          <td class="style15" colspan="2">@Model.Number_of_Reports_7</td>
          <td class="style17" colspan="2">@Model.Number_of_Reports</td>
          <td class="style19">&nbsp;</td>
        </tr>
      </tbody>
    </table>
