@using DisplayMonkey.Language

@model DisplayMonkey.Models.sp_Get_Dashboard_Result

<section class="content-wrapper main-content clear-fix">               

    <table class="dashboard">
	<thead>
		<tr>
			<td colspan="7">Dashboard</td>
		</tr>
		<tr>
			<td colspan="7" class="Space"></td>
		</tr>	
	</thead>
      <tbody>
        <tr>
          <td class="Heading_Table1_Left">@Html.ActionLink(@Resources.Frames, "Index", "Frame")</td>
          <td class="Heading_Table1_Right">&nbsp;</td>
          <td class="Space">&nbsp;</td>
		  <td class="Heading_Table1_Left">Top 5 Content</td>
          <td class="Heading_Table1_Right">&nbsp;</td>
          <td class="Space">&nbsp;</td> 
		  <td class="Heading_Table1_Left">Setup</td>
          <td class="Heading_Table1_Right">&nbsp;</td>
        </tr>
        <tr>
          <td class="Left_Align">Number of Frames</td>
          <td class="Right_Align">@Model.Number_of_Frames</td>
		  <td class="Space">&nbsp;</td>
          <td class="Left_Align">@Model.Top_Content_1</td>
          <td class="Right_Align">@Model.Top_Content_1_Count</td>
          <td class="Space">&nbsp;</td>
		  <td class="Left_Align">@Html.ActionLink(@Resources.Levels, "Index", "Level")</td>
          <td class="Right_Align">@Model.Levels</td>
        </tr>
        <tr>
          <td class="Left_Align_Alt">Total Duration (Hours)</td>
          <td class="Right_Align_Alt">@Model.Total_Duration_Hours</td>
          <td class="Space">&nbsp;</td>         
		  <td class="Left_Align_Alt">@Model.Top_Content_2</td>
          <td class="Right_Align_Alt">@Model.Top_Content_2_Count</td>
          <td class="Space">&nbsp;</td>        
		  <td class="Left_Align_Alt">@Html.ActionLink(@Resources.Locations, "Index", "Location")</td>
          <td class="Right_Align_Alt">@Model.Location</td>
        </tr>
        <tr>
          <td class="Left_Align">Number of Active Frames</td>
          <td class="Right_Align">@Model.Number_of_Active_Frames</td>
          <td class="Space">&nbsp;</td>         
		  <td class="Left_Align">@Model.Top_Content_3</td>
          <td class="Right_Align">@Model.Top_Content_3_Count</td>
          <td class="Space">&nbsp;</td>          
		  <td class="Left_Align">@Html.ActionLink(@Resources.Canvases, "Index", "Canvas")</td>
          <td class="Right_Align">@Model.Canvas</td>
        </tr>
        <tr>
          <td class="Left_Align">&nbsp;</td>
          <td class="Right_Align">&nbsp;</td>
          <td class="Space">&nbsp;</td>         
		  <td class="Left_Align_Alt">@Model.Top_Content_4</td>
          <td class="Right_Align_Alt">@Model.Top_Content_4_Count</td>
          <td class="Space">&nbsp;</td>          
		  <td class="Left_Align_Alt">@Html.ActionLink(@Resources.Panels, "Index", "Panel")</td>
          <td class="Right_Align_Alt">@Model.Panel</td>
        </tr>
        <tr>
          <td class="Left_Align">&nbsp;</td>
          <td class="Right_Align">&nbsp;</td>
          <td class="Space">&nbsp;</td>         
		  <td class="Left_Align">@Model.Top_Content_5</td>
          <td class="Right_Align">@Model.Top_Content_5_Count</td>
          <td class="Space">&nbsp;</td>          
		  <td class="Left_Align">@Html.ActionLink(@Resources.Displays, "Index", "Display")</td>
          <td class="Right_Align">@Model.Display</td>
        </tr>
      </tbody>
    </table>
    <table class="dashboard">
      <tbody>	
        <tr>
          <td class="Heading_Table2_Left">Frames by Type</td>
          <td class="Heading_Table2_Right" colspan="2">Previous 7 Days</td>
          <td class="Heading_Table2_Right" colspan="2">Total</td>
        </tr>
        <tr>
          <td class="Left_Align">@Html.ActionLink(Resources.Memo, "Index", "Frame", new { FrameType = "Memo" }, null)</td>
          <td class="Right_Align" colspan="2">@Model.Number_of_Memos_7</td>
          <td class="Right_Align" colspan="2">@Model.Number_of_Memos</td>
        </tr>
        <tr>
          <td class="Left_Align_Alt">@Html.ActionLink(Resources.Picture, "Index", "Frame", new { FrameType = "Picture" }, null)</td>
          <td class="Right_Align_Alt" colspan="2">@Model.Number_of_Pictures_7</td>
          <td class="Right_Align_Alt" colspan="2">@Model.Number_of_Pictures</td>
        </tr>
        <tr>
          <td class="Left_Align">@Html.ActionLink(Resources.Video, "Index", "Frame", new { FrameType = "Video" }, null)</td>
          <td class="Right_Align" colspan="2">@Model.Number_of_Videos_7</td>
          <td class="Right_Align" colspan="2">@Model.Number_of_Videos</td>
        </tr>
        <tr>
          <td class="Left_Align_Alt">@Html.ActionLink(Resources.Report, "Index", "Frame", new { FrameType = "Report" }, null)</td>
          <td class="Right_Align_Alt" colspan="2">@Model.Number_of_Reports_7</td>
          <td class="Right_Align_Alt" colspan="2">@Model.Number_of_Reports</td>
        </tr>
      </tbody>
    </table>

</section>
