@using DisplayMonkey.Language

@model DisplayMonkey.Models.FrameSelector

@{
    ViewBag.Title = Resources.CreateNewFrame;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resources.Frame</legend>

        @Html.HiddenFor(s => s.PanelId)

        <div class="editor-label">
            @Html.LabelFor(s => s.Panel.Canvas)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(s => s.Panel.Canvas.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(s => s.Panel)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(s => s.Panel.Name)
        </div>

        <div class="editor-label">
            @Html.Label(Resources.SelectFrameType)
        </div>
        <div class="editor-field select">
            @Html.DropDownListFor(s => s.FrameType, ViewBag.FrameType as SelectList)
        </div>

        <p>
            <input type="submit" value="@Resources.Next" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.ViewFrames, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
