@model DisplayMonkey.Models.Panel

@{
    ViewBag.Title = Resources.CreateNewFrame;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Referrer()

    <fieldset>
        <legend>@Resources.NewFrame</legend>

        <div class="editor-label">
            @Html.LabelFor(p => p.Canvas)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(p => p.Canvas.Name)
        </div>
        <div class="editor-label">
            @Html.Label(Resources.SelectPanel)
        </div>
        <div class="editor-field select">
            @Html.DropDownListFor(p => p.PanelId, ViewBag.PanelId as SelectList)
        </div>
        <p>
            <input type="submit" value="@Resources.Next" />
        </p>
    </fieldset>
}

