@model IEnumerable<DisplayMonkey.Models.Frame>

@{
    ViewBag.Title = Resources.Frames;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Frame", FormMethod.Get))
{    
    <fieldset><legend>@Resources.Search</legend><table>
        <tr><td>@Resources.Canvas:</td><td><div class="select">@Html.DropDownList("CanvasId",Resources.Any)</div></td></tr>
        <tr><td>@Resources.Panel:</td><td><div class="select">@Html.DropDownList("PanelId", Resources.Any)</div></td></tr>
        <tr><td>@Resources.FrameType:</td><td><div class="select">@Html.DropDownList("FrameType",Resources.Any)</div></td></tr>
        <tr><td>@Resources.TimingOption:</td><td><div class="select">@Html.DropDownList("TimingOption",Resources.Any)</div></td></tr>
    <tr><td colspan="2"><input type="submit" value="@Resources.Filter" /></td></tr></table></fieldset> 
}

@Html.ActionLink(Resources.CreateNewFrame, "Create", new { canvasId = Request["canvasId"], panelId = Request["panelId"], frameType = Request["frameType"] })

@Html.Partial("_frameList", Model)

@section Scripts {
    <script type="text/javascript">
        function fillPanels () {
            var canvasId = $('select#CanvasId').val() || 0;
            $.ajax({
                url: url = "@Url.Action("PanelsForCanvas", "Frame")/" + canvasId,
            })
            .done(function (data) {
                var panels = $("select#PanelId"), v = panels.val();
                panels.children("[value!='']").each(function (i, p) {
                    $(p).remove();
                });
                $(data).each(function (i, p) {
                    panels.append('<option value="' + p.id + (p.id == v ? '" selected>' : '">') + p.name + '</option>');
                });
            });
        };
        $(document).ready(function () {
            $('select#CanvasId').change(function () {
                fillPanels();
            });
        });
    </script>
}

