@model DisplayMonkey.Models.Canvas

@{
    ViewBag.Title = Resources.DeleteCanvas;
}

<h2>@ViewBag.Title</h2>

<h3>@Resources.AreYouSureDeleteCanvas</h3>

@Html.Partial("_Details")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.Referrer()
    <p>
        <input type="submit" value="@Resources.Delete" /> |
        @Html.ActionLink(Resources.ViewCanvases, "Index")
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jsquery")
    @Scripts.Render("~/bundles/panel")
}
