@model IEnumerable<DisplayMonkey.Models.Canvas>

@{
    ViewBag.Title = Resources.Canvases;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(Resources.CreateNewCanvas, "Create")
</p>
<table class="grid">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="nw">
            @Html.DisplayNameFor(model => model.Width)
        </th>
        <th class="nw">
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th class="nw">
            @Html.DisplayNameFor(model => model.BackgroundImage)
        </th>
        <th class="nw"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id=item.CanvasId })
        </td>
        <td class="nw">
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td class="nw">
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td class="nw">
            @if (item.BackgroundImage != null) {
                <img src="@Html.Raw(Url.Action("Thumb", "Media", new { id=item.BackgroundImage, width=50, height=50 }))" alt="@Resources.Background" />
            }
        </td>
        <td class="nw">
            @Html.ActionLink(Resources.Edit, "Edit", new { id=item.CanvasId }) |
            @Html.ActionLink(Resources.Delete, "Delete", new { id=item.CanvasId })
        </td>
    </tr>
}

</table>
