@model DisplayMonkey.Models.Setting

@{
    ViewBag.Title = Resources.EditApplicationSetting;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Referrer()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Key)

        <div class="form-group">
            @Html.Label(Model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @switch (Model.Type)
                {
                    case SettingTypes.SettingType_IntPositive:
                        @Html.EditorFor(model => model.IntValuePositive)
                        @Html.ValidationMessageFor(model => model.IntValuePositive)
                        break;

                    case SettingTypes.SettingType_String:
                        @Html.EditorFor(model => model.StringValue)
                        @Html.ValidationMessageFor(model => model.StringValue)
                        break;

                    case SettingTypes.SettingType_DecimalPositive:
                        @Html.EditorFor(model => model.DecimalValuePositive)
                        @Html.ValidationMessageFor(model => model.DecimalValuePositive)
                        break;

                    case SettingTypes.SettingType_Int:
                        @Html.EditorFor(model => model.IntValue)
                        @Html.ValidationMessageFor(model => model.IntValue)
                        break;

                    case SettingTypes.SettingType_Decimal:
                        @Html.EditorFor(model => model.DecimalValue)
                        @Html.ValidationMessageFor(model => model.DecimalValue)
                        break;
                }
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.ViewApplicationSettings, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
