@model DisplayMonkey.Models.Youtube

@{
    ViewBag.Title = Resources.EditYoutubeFrame;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Referrer()

    @Html.Partial("_frameData", Model as Frame)
    @Html.Partial("_Edit")

    <p>
        <input type="submit" value="@Resources.Save" />
    </p>
}

<div>
    @Html.ActionLink(Resources.ViewFrames, "Index", "Frame")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("#slider-volume").slider({
                min: 0,
                max: 100,
                value: @(Model.Volume),
                slide: function (event, ui) {
                    $("#Volume").val(ui.value);
                }
            });
            $("#Volume").prop('readonly', true);
        });
    </script>
}
