@model DisplayMonkey.Models.Frame

@{
    SelectList templates = ViewBag.Templates as SelectList;
}

    <fieldset>
        <legend>@Resources.GeneralOptions</legend>

        @Html.HiddenFor(m => m.FrameId)
        @Html.HiddenFor(m => m.PanelId)
        @Html.HiddenFor(m => m.Sort)

        <div class="editor-label">
            @Html.LabelFor(model => model.Duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "duration" } }) @Resources.Sec
            @Html.ValidationMessageFor(model => model.Duration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TemplateId)
        </div>
        <div class="editor-field select">
            @Html.DropDownListFor(model => model.TemplateId, templates)
            @Html.ValidationMessageFor(model => model.TemplateId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BeginsOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BeginsOn, new { htmlAttributes = new { @class = "calendar" } })
            @Html.ValidationMessageFor(model => model.BeginsOn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndsOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndsOn, new { htmlAttributes = new { @class = "calendar" } })
            @Html.ValidationMessageFor(model => model.EndsOn)
        </div>

    </fieldset>

    <script type="text/javascript">
        $(document).ready(function () {
            $('input.calendar[type=datetime]').datepicker();
        });
    </script>
