@using DisplayMonkey
@using DisplayMonkey.Models
@using DisplayMonkey.Language

@model IEnumerable<DisplayMonkey.Models.Frame>

@{
    string icon = "";
}

<table class="grid">
    <tr>
        <th>
            @Resources.Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Panel.Canvas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Panel)
        </th>
        <th>
            @Resources.InformationContentDisplayed
        </th>
        <th class="num">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Duration), @Resources.Sec
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="nw">
            @Html.ActionImgLink(item.Icon, "Details", "Frame", new { id = item.FrameId }, new { @class = "thumb1", title =item.TranslatedType })
        </td>
        <td class="nw">
            @Html.DisplayFor(m => item.Panel.Canvas.Name)
        </td>
        <td class="nw">
            @Html.DisplayFor(m => item.Panel.Name)
        </td>
        <td>
            @if (item.Clock != null)
            {
                @(string.Format("{0}{1}{2}{3}{4}{5}",
                    item.Clock.Type.Translate(),
                    !string.IsNullOrWhiteSpace(item.Clock.Label) ? ", " + item.Clock.Label : "",
                    item.Clock.TimeZone != null ? ", " + item.Clock.TimeZone : "",
                    item.Clock.Type == ClockTypes.ClockType_Text && item.Clock.ShowDate ? ", " + Resources.ShowDate : "",
                    item.Clock.Type == ClockTypes.ClockType_Text && item.Clock.ShowTime ? ", " + Resources.ShowTime : "",
                    item.Clock.Type == ClockTypes.ClockType_Analog && item.Clock.ShowSeconds ? ", " + Resources.ShowSeconds : ""
                    ))
            }
            else if (item.Html != null)    
            {
                <text>Name: <span>@Html.DisplayFor(m => item.Html.Name)</span></text>
            }
            else if (item.News != null)
            {
                @Html.DisplayFor(m => item.News.Source)
            }
            else if (item.Memo != null)
            {
                <text>Subject: <span>@Html.DisplayFor(m => item.Memo.Subject)</span></text>
                <p>Body: <span>@Html.DisplayFor(m => item.Memo.ShortBody)</span></p>
            }
            else if (item.Outlook != null)
            {
                <span>@Html.DisplayFor(m => item.Outlook.NameOrMailboxOrAccount)</span>
            }
            else if (item.Picture != null)
            {
                <img class="thumb1" src="@Url.Action("Thumb", "Media", new { id = item.Picture.ContentId, width = 50, height = 50, mode = (int)RenderModes.RenderMode_Stretch })" alt="" />
                <span>@Html.DisplayFor(m => item.Picture.Content.Name)</span>
            }
            else if (item.Report != null)
            {
                <img class="thumb1" src="@Url.Action("Thumb", "Report", new { id = item.FrameId, width = 50, height = 50, mode = (int)RenderModes.RenderMode_Stretch })" alt="" />
                <span>@Html.DisplayFor(m => item.Report.Name)</span>
            }
            else if (item.Video != null)    
            {
                <span>@(string.Format(Resources.VideoAlternatives, item.Video.Contents.Count()))</span>
            }
            else if (item.Weather != null)
            {
                @item.Weather.Type.Translate()
            }
            else if (item.Youtube != null)    
            {
                <img class="thumb1" src="@Html.Raw(string.Format("http://i.ytimg.com/vi/{0}/0.jpg", item.Youtube.YoutubeId))" alt="" />
                <span>@Html.DisplayFor(m => item.Youtube.Name)</span>
            }
            else   
            {
                <text>@Resources.UnsupportedFrame</text>
            }
        </td>
        <td class="nw num">
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td class="nw">
            @Html.ActionLink(Resources.Edit, "Edit", "Frame", new { id=item.FrameId }, null) |
            @Html.ActionLink(Resources.Delete, "Delete", "Frame", new { id=item.FrameId }, null)
        </td>
    </tr>
}

</table>

