@using DisplayMonkey
@using DisplayMonkey.Models
@using DisplayMonkey.Language

@model IEnumerable<DisplayMonkey.Models.Frame>

<table class="grid">
    <tr>
        <th>
            @Resources.Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Panel.Canvas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Panel)
        </th>
        <th>
            @Resources.InformationContentDisplayed
        </th>
        <th class="num">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Duration), @Resources.Sec
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="nw">
            @Html.ActionLink(item.TranslatedType, "Details", "Frame", new { id = item.FrameId }, null)
        </td>
        <td class="nw">
            @Html.DisplayFor(m => item.Panel.Canvas.Name)
        </td>
        <td class="nw">
            @Html.DisplayFor(m => item.Panel.Name)
        </td>
        <td>
            @if (item.News != null)
            {
                @Html.DisplayFor(m => item.News.Source)
            }
            else if (item.Clock != null)
            {
                @(string.Format("{0}{1}{2}",
                    item.Clock.Type.Translate(),
                    item.Clock.ShowDate ? ", Show date" : "",
                    item.Clock.ShowTime ? ", Show time" : ""
                    ))
            }
            else if (item.Weather != null)
            {
                @item.Weather.Type.Translate()
            }
            else if (item.Memo != null)
            {
                <text>Subject: <span>@Html.DisplayFor(m => item.Memo.Subject)</span></text>
                <p>Body: <span>@Html.DisplayFor(m => item.Memo.ShortBody)</span></p>
            }
            else if (item.Report != null)
            {
                <img class="thumb1" src="@Url.Action("Thumb", "Report", new { id = item.FrameId, width = 50, height = 50, mode = RenderModes.RenderMode_Stretch })" alt="" />
                <span>@Html.DisplayFor(m => item.Report.Name)</span>
            }
            else if (item.Picture != null)
            {
                <img class="thumb1" src="@Url.Action("Thumb", "Media", new { id = item.Picture.ContentId, width = 50, height = 50, mode = RenderModes.RenderMode_Stretch })" alt="" />
                <span>@Html.DisplayFor(m => item.Picture.Content.Name)</span>
            }
            else if (item.Video != null)    
            {
                <img class="thumb1" src="~/images/video_thmb.png" alt="" />
                <span>@(string.Format(Resources.VideoAlternatives, item.Video.Contents.Count()))</span>
            }
            else if (item.Html != null)    
            {
                <text>Name: <span>@Html.DisplayFor(m => item.Html.Name)</span></text>
            }
            else   
            {
                <text>@Resources.UnsupportedFrame</text>
            }
        </td>
        <td class="nw num">
            @if (item.ShowDuration)
            {
                @Html.DisplayFor(modelItem => item.Duration)
            }
        </td>
        <td class="nw">
            @Html.ActionLink(Resources.Edit, "Edit", "Frame", new { id=item.FrameId }, null) |
            @Html.ActionLink(Resources.Delete, "Delete", "Frame", new { id=item.FrameId }, null)
        </td>
    </tr>
}

</table>

