@using DisplayMonkey
@using DisplayMonkey.Models
@using DisplayMonkey.Language

@model IEnumerable<DisplayMonkey.Models.Frame>

@{
}

<table class="grid">
    <tr>
        <th>
            @Resources.Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Panel.Canvas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Panel)
        </th>
        <th>
            @Resources.InformationContentDisplayed
        </th>
        <th class="num">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Duration), @Resources.Sec
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="nw">
            @Html.ActionImgLink(item.Icon, "Details", "Frame", new { id = item.FrameId }, new { @class = "thumb1", title = item.TranslatedType })
        </td>
        <td class="nw">
            @item.Panel.Canvas.Name
        </td>
        <td class="nw">
            @item.Panel.Name
        </td>
        <td>
            @if (item.Clock != null)
            {
                @(string.Format("{0}{1}{2}{3}{4}{5}",
                    item.Clock.Type.Translate(),
                    !string.IsNullOrWhiteSpace(item.Clock.Label) ? ", " + item.Clock.Label : "",
                    item.Clock.TimeZone != null ? ", " + item.Clock.TimeZone : "",
                    item.Clock.Type == ClockTypes.ClockType_Text && item.Clock.ShowDate ? ", " + Resources.ShowDate : "",
                    item.Clock.Type == ClockTypes.ClockType_Text && item.Clock.ShowTime ? ", " + Resources.ShowTime : "",
                    item.Clock.Type == ClockTypes.ClockType_Analog && item.Clock.ShowSeconds ? ", " + Resources.ShowSeconds : ""
                    ))
            }
            else if (item is Html)
            {
                Html i = item as Html;
                <text>Name: <span>@i.Name</span></text>
            }
            else if (item is News)
            {
                News i = item as News;
                @(i.Source)
            }
            else if (item is Memo)
            {
                Memo i = item as Memo;
                <text>Subject: <span>@i.Subject</span></text>
                <p>Body: <span>@i.ShortBody</span></p>
            }
            else if (item is Outlook)
            {
                Outlook i = item as Outlook;
                <span>@i.NameOrMailboxOrAccount</span>
            }
            else if (item.Picture != null)
            {
                <img class="thumb1" src="@Url.Action("Thumb", "Media", new { id = item.Picture.ContentId, width = 50, height = 50, mode = (int)RenderModes.RenderMode_Stretch })" alt="" />
                <span>@item.Picture.Content.Name</span>
            }
            else if (item is Powerbi)
            {
                Powerbi i = item as Powerbi;
                <span>@i.Type.Translate()</span>@(": ")<span>@i.Name</span>
            }
            else if (item.Report != null)
            {
                <img class="thumb1" src="@Url.Action("Thumb", "Report", new { id = item.FrameId, width = 50, height = 50, mode = (int)RenderModes.RenderMode_Stretch })" alt="" />
                <span>@item.Report.Name</span>
            }
            else if (item.Video != null)
            {
                <span>@(string.Format(Resources.VideoAlternatives, item.Video.Contents.Count()))</span>
            }
            else if (item.Weather != null)
            {
                @item.Weather.Type.Translate()
            }
            else if (item.Youtube != null)
            {
                <img class="thumb1" src="@Html.Raw(string.Format("http://i.ytimg.com/vi/{0}/0.jpg", item.Youtube.YoutubeId))" alt="" />
                <span>@item.Youtube.Name</span>
            }
            else
            {
                <text>@Resources.UnsupportedFrame</text>
            }
        </td>
        <td class="nw num">
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td class="nw">
            @Html.ActionLink(Resources.Edit, "Edit", "Frame", new { id=item.FrameId }, null) |
            @Html.ActionLink(Resources.Delete, "Delete", "Frame", new { id=item.FrameId }, null)
        </td>
    </tr>
}

</table>

