<!--
* DisplayMonkey source file
* http://displaymonkey.org
*
* Copyright (c) 2015 Fuel9 LLC and contributors
*
* Released under the MIT license:
* http://opensource.org/licenses/MIT
-->

@{
    string help = Url.Content(Info.HelpUri(HttpContext.Current.Request, "management").OriginalString);
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Display Monkey</title>
        
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="apple-touch-icon" sizes="57x57" href="~/images/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="~/images/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="~/images/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="~/images/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="~/images/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="~/images/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-touch-icon-180x180.png" />
        <link rel="icon" type="image/png" href="~/images/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="~/images/android-chrome-192x192.png" sizes="192x192" />
        <link rel="icon" type="image/png" href="~/images/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="~/images/favicon-16x16.png" sizes="16x16" />
        <link rel="manifest" href="~/images/manifest.json" />

        <meta name="msapplication-TileColor" content="#336699" />
        <meta name="msapplication-TileImage" content="~/images/mstile-144x144.png" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="viewport" content="width=device-width" />
        @Html.MetaAcceptLanguage()
        
        @Styles.Render(
            "~/Content/themes/base/css", 
            "~/Content/css"
            )
        @RenderSection("Styles", required: false)

        @Scripts.Render(
            "~/bundles/modernizr", 
            "~/bundles/jquery", 
            "~/bundles/jqueryui", 
            "~/bundles/jqueryval"
            )
        @RenderSection("Scripts", required: false)

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink(Resources.DisplayMonkey, "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                       @Resources.Hello, <span class="username">@User.Identity.Name</span>!
                    </section>
                    <nav>
                        <ul class="menu">
                            <li>@Html.ActionLink(Resources.Home, "Index", "Home")</li>
                            <li>@Html.ActionLink(Resources.CurrentlyDisplayed, "Index", "Display")</li>
                            <li>@Html.ActionLink(Resources.ChangeDisplayed, "Index", "Frame")</li>
                            <li><a href="#">@Resources.Media</a>
                                <ul>
                                    <li>@Html.ActionLink(Resources.ViewUploadedMedia, "Index", "Media")</li>
                                    <li>@Html.ActionLink(Resources.UploadMedia, "Upload", "Media")</li>
                                </ul>
                            </li>
                            <li><a href="#">@Resources.Setup</a>
                                <ul>
                                    <li><a href="#">@Resources.Organization</a>
                                        <ul>
                                            <li>@Html.ActionLink(Resources.Levels, "Index", "Level")</li>
                                            <li>@Html.ActionLink(Resources.Locations, "Index", "Location")</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink(Resources.Canvases, "Index", "Canvas")</li>
                                    <li>@Html.ActionLink(Resources.Panels, "Index", "Panel")</li>
                                    <li><a href="#">@Resources.Other</a>
                                        <ul>
                                            <li>@Html.ActionLink(Resources.ApplicationSettings, "Index", "Setting")</li>
                                            <li>@Html.ActionLink(Resources.ReportServerAccounts, "Index", "ReportServer")</li>
                                            <li>@Html.ActionLink(Resources.ExchangeAccounts, "Index", "ExchangeAccount")</li>
                                            <li>@Html.ActionLink(Resources.AzureAccounts, "Index", "AzureAccount")</li>
                                            <li>@Html.ActionLink(Resources.OauthAccounts, "Index", "OauthAccount")</li>
                                            <li>@Html.ActionLink(Resources.FrameTemplates, "Index", "Template")</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="@help" onclick="window.open('@help','@Resources.Help','width=1280,height=900,resizable=1,scrollbars=1'); return false;" target="_blank">@Resources.Help</a></li>
                            <li><a href="http://www.fuel9.com/home/about-us/">@Resources.About</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>@Html.ProductVersion()</p>
                    <p>&copy; @DateTime.Now.Year - Fuel9.com</p>
                </div>
            </div>
        </footer>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.menu').jqsimplemenu();
                var culture = $("meta[name='culture']").attr("content");
                $.datepicker.setDefaults($.datepicker.regional[culture]);
                //$('input[type=datetime]').datepicker();
            });
        </script>
    </body>
</html>
