@model DisplayMonkey.Models.Content

<fieldset>
    <legend>@Resources.Content</legend>

    @Html.HiddenFor(model => model.ContentId)

    <table class="divTable"><tr>
    <td>

        <div class="divTable">
        <div class="divRow">
        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Model.Type.Translate()
        </div>
        </div>

        <div class="divRow">
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Name)
        </div>
        </div>
        </div>

    </td>
    <td>
        <div id="picture">
            @if (Model.Type == ContentTypes.ContentType_Picture)
            {
                <img src="@Url.Action("Thumb", "Media", new { id = Model.ContentId, width = 200, height = 200, mode = (int)RenderModes.RenderMode_Fit })" alt="" />
            }
            else if (Model.Type == ContentTypes.ContentType_Video)
            {
          <video style="width:100%;height:100%" poster="~/images/video.gif" loop autoplay controls>
                    <source src="@Url.Action("Playback", "Media", new { id = Model.ContentId })" />
                    @Resources.YourBrowserDoesntSupportThisMediaTypePleaseUpgradeYourBrowser
                </video>
            }
        </div>
    </td>
    </tr></table>

</fieldset>

