@model DisplayMonkey.Models.Content

@{
    ViewBag.Title = Resources.EditMedia;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Referrer()

    <fieldset>
        <legend>@Resources.Content</legend>

        @Html.HiddenFor(model => model.ContentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Model.Type.Translate()
            @Html.HiddenFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="@Resources.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.ViewUploadedMedia, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
