@model DisplayMonkey.Models.Content

@{
    ViewBag.Title = Resources.UploadNewMedia;
    string supportedImages = string.Join(", ", DisplayMonkey.Models.Picture.SupportedFormats);
    string supportedVideos = string.Join(", ", DisplayMonkey.Models.Video.SupportedFormats);
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Upload", "Media", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Referrer()
    
    @Html.Hidden("maxImageSize", (object)ViewBag.MaxImageSize)
    @Html.Hidden("maxVideoSize", (object)ViewBag.MaxVideoSize)
    @Html.Hidden("imageExt", (object)supportedImages)
    @Html.Hidden("videoExt", (object)supportedVideos)

    <fieldset>
        <legend>@Resources.Media</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Data)
        </div>
        <div class="editor-field">
            <input type="file" name="files" id="files" multiple="" />
            @Html.ValidationMessageFor(model => Model.Data)
            <p>@(string.Format(Resources.SupportedMediaFormatsIncludeForImagesAndForVideoAllOtherContentWillBeIgnored, supportedImages, supportedVideos))</p>
            <p>@Resources.NoteToSelectMultipleFilesPushAndHoldShiftOrCtrl</p>
        </div>

        <p>
            <input type="submit" value="@Resources.Upload" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.ViewUploadedMedia, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="submit"]').click(function () {
                if ($('#files').val() === "") {
                    alert("@Resources.PleaseSelectFilesToUploadFirst");
                    return false;
                }
            });
            $('#files').change(function () {
                if ($(this).val() != "" && typeof FileReader !== "undefined") {
                    var file = document.getElementById('files').files[0];
                    var ext = /[^.]+$/.exec(file.name)[0].toUpperCase();
                    if ($('#videoExt').val().indexOf(ext) >= 0) {
                        var max = $('#maxVideoSize').val();
                        if (file.size > max) {
                            alert("@Resources.CurrentMaximumAllowedSizeForVideoFilesIsSetTo " + max + " @Resources.Bytes"); 
                            $(this).val("");
                        }
                    } else if ($('#imageExt').val().indexOf(ext) >= 0) {
                        var max = $('#maxImageSize').val();
                        if (file.size > max) {
                            alert("@Resources.CurrentMaximumAllowedSizeForImageFilesIsSetTo " + max + " @Resources.Bytes"); 
                            $(this).val("");
                        }
                    } else {
                        alert("@Resources.FileFormat " + ext + "@Resources.IsNotSupported"); 
                        $(this).val("");
                    }
                }
            });
        });
    </script>
}
