@model DisplayMonkey.Models.Content

@{
    ViewBag.Title = "Upload new media";
    string supportedImages = string.Join(", ", DisplayMonkey.Models.Picture.SupportedFormats);
    string supportedVideos = string.Join(", ", DisplayMonkey.Models.Video.SupportedFormats);
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Upload", "Media", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("maxImageSize", (object)ViewBag.MaxImageSize)
    @Html.Hidden("maxVideoSize", (object)ViewBag.MaxVideoSize)
    @Html.Hidden("imageExt", (object)supportedImages)
    @Html.Hidden("videoExt", (object)supportedVideos)

    <fieldset>
        <legend>Media</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Data)
        </div>
        <div class="editor-field">
            <input type="file" name="files" id="files" multiple="" />
            @Html.ValidationMessageFor(model => Model.Data)
            <p>Supported media formats include: @supportedImages for images and @supportedVideos for video. All other content will be ignored.</p>
            <p>Note: to select multiple files push and hold [Shift] or [Ctrl].</p>
        </div>

        <p>
            <input type="submit" value="Upload" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("View Uploaded Media", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="submit"]').click(function () {
                if ($('#files').val() === "") {
                    alert("Please select file(s) to upload first");
                    return false;
                }
            });
            $('#files').change(function () {
                if ($(this).val() != "" && typeof FileReader !== "undefined") {
                    var file = document.getElementById('files').files[0];
                    var ext = /[^.]+$/.exec(file.name)[0].toUpperCase();
                    if ($('#videoExt').val().indexOf(ext) >= 0) {
                        var max = $('#maxVideoSize').val();
                        if (file.size > max) {
                            alert("Current maximum allowed size for video files is set to " + max + " bytes");
                            $(this).val("");
                        }
                    } else if ($('#imageExt').val().indexOf(ext) >= 0) {
                        var max = $('#maxImageSize').val();
                        if (file.size > max) {
                            alert("Current maximum allowed size for image files is set to " + max + " bytes");
                            $(this).val("");
                        }
                    } else {
                        alert("File format " + ext + " is not supported");
                        $(this).val("");
                    }
                }
            });
        });
    </script>
}
